/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.inbox{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.details {
    margin-top: 20px;
}

.details img {
    max-width: 400px;
    display: block;
    margin-bottom: 10px;
}

.details p {
    font-size: 16px;
    color: #555;
}
#galaxyLink{
    display: flex;
    position: relative;
    left: 70px;
} */

.inbox{
    display: flex;
}
.mobile-image{
    display: flex;
}
#mobile-name{
    display: flex;
    margin: 151px 0px 0px -125px;
    color: blue;
}

.inbox2{
    display: flex;
}
.mobile-image2{
    display: flex;
    position: absolute;
    bottom: 449px;
    left: 157px;
}
#mobile-name2{
    display: flex;
    margin: -22px 0px 0px 214px;
    color: blue;
}
